---
galaxy_info:
  author: Thomas Maurice
  description: Deploy NATS Identity Service with PostgreSQL backend
  license: MIT
  min_ansible_version: "2.14"
  platforms:
    - name: Debian
      versions:
        - bullseye
        - bookworm
    - name: Ubuntu
      versions:
        - focal
        - jammy
        - noble
    - name: EL
      versions:
        - "8"
        - "9"

dependencies: []
